@import "variable.scss";
@import "mixin.scss";
@import "utility.scss";


.footer {
  height: 300px;
  padding: 50px 60px;
  background: $header-back;
  @include position(relative, 4020px, 0);
  &-menu {
    font-size: $font-size-m;
    display: flex;
    justify-content: space-between;
    li {
      margin-bottom: 20px;
    }
  }
  &-logo {
    width: 20%;
    height: 100%;
    margin-top: 20px;
  }
  &-copy {
    margin-top: 10px; 
    font-size: $font-size-xs;
    text-align: center;
  }

}



