label {
  margin-right: 10px;
}

input {
  width: 80%;
  border: 0;
  display: inline-block;
  background: none;
  font-size: $font-size-m;
}

textarea {
  @include border(2px);
  resize: none;
  width: 100%;
  padding: 10px;
  background: none;
  font-size: $font-size-m;
}
