@import "base.scss";
@import "variable.scss";
@import "mixin.scss";
@import "utility.scss";

.header {
  .top-decoration {
    height: 365px;
    position: relative;
    z-index: 1;
    .top-deco-bgd {
      width: 100%;
    }
  }

  .logo-slide {
    width: 100%;
    height: 590px;
    padding-top: 30px;
    background-image: url(../../img/top-background.jpeg);
    background-color: $translucent-white;
    background-blend-mode: lighten;
    @include position(absolute, 130px, 0);
    p {
      margin: 0 auto;
      writing-mode: vertical-rl;
      font-weight: bold;
      letter-spacing: 5px;
      font-size: 20px;
    }
    .logo {
      width: 30%;
      margin: 0 auto;
      display: block;
    }
  }

  .header-menu {
    height: 130px;
    padding: 50px;
    margin-top: 345px;
    background: $header-back;

    .header-menu-flex {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      font-size: $font-size-m;
    }
  }
}