@mixin about-h1-style {
  font-size: $font-size-xxl;
  font-weight: normal;
  margin-bottom: 30px;
}

@mixin about-h2-style {
  font-size: $font-size-xl;
  font-weight: normal;
  margin-bottom: 30px;
}

// aboutページの画像位置のmixinコード
@mixin company-front-position {
  position: relative;
  top: 0;
  left: 0;
}

@mixin company-back-position {
  position: relative;
  top: -700px;
  left: 0; 
}

@mixin company-text-box-position {
  position: relative;
  top: -930px;
  left: 100%;
  transform: translateX(-100%);
}

@mixin food-front-position {
  position: absolute;
  top: 0px;
  left: 100%;
  transform: translateX(-100%);
}

@mixin food-back-position {
  position: relative;
  top: 50px;
  left: 100%;
  transform: translateX(-100%);
}

@mixin food-text-box-position {
  position: absolute;
  top: 500px;
  left: 0; 
}





