@mixin about-h1-style {
  font-size: $font-size-xxl;
  font-weight: normal;
  margin-bottom: 30px;
}

@mixin about-h2-style {
  font-size: $font-size-xl;
  font-weight: normal;
  margin-bottom: 30px;
}

// aboutページの画像位置のmixinコード
@mixin position-r($top, $left) {
  position: relative;
  top: $top;
  left: $left;
}

@mixin position-a($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}








