@mixin head-style($font-size) {
  font-size: $font-size;
  font-weight: normal;
  margin-bottom: 30px;
}


// aboutページの画像位置のmixinコード
@mixin position($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin border($value) {
  border: $value solid #333;
}

@mixin border-bottom($value) {
  border-bottom: $value solid #333;
} 










