$image-back-green: rgba(151, 230, 166, 0.55);
$image-back-pink: rgba(230, 166, 151, 0.55);

$translucent-white: rgba(255, 255, 255, 0.5);

$color-white: white;

// h1タグ用のフォントサイズ
$font-size-xxl: 4rem;

// h2タグ用のフォントサイズ
$font-size-xl: 3.5rem;

// h3タグ用のフォントサイズ
$font-size-l: 3rem;

// 画面上のデフォルトのフォントサイズ
$font-size-base: 1.6rem;

$font-size-m: 1.8rem;

// spanタグ用のフォントサイズ
$font-size-s:1.5rem;

// コピーライト用のフォントサイズ
$font-size-xs: 1.2rem;


// 全ページ共通のmainタグ部分の背景画像パスの変数
$main-bkg-img: url(../../img/background.jpeg);

// menuページのlunch-container-image1,2,3の背景画像パスの変数
$lunch-bkg-img1: url(../../img/menu-image1.jpeg);
$lunch-bkg-img2: url(../../img/menu-image2.png);
$lunch-bkg-img3: url(../../img/menu-image3.jpeg);

// menuページのsweet-container-contents-image1,2の背景画像パス
$sweets-bkg-img1: url(../../img/sweets-image1.jpeg);
$sweets-bkg-img2: url(../../img/sweet-image2.jpeg);