@import "variable.scss";
@import "base.scss";
@import "layout-image.scss";
@import "mixin.scss";
@import "utility.scss";
@import "header.scss";
@import "footer.scss";
@import "form.scss";
@import "observer.scss";


main {
  font-size: $font-size-m;
}


h1 {
  @include head-style($font-size-xxl);
  text-align: center;
}

.material-icons-outlined {
  margin-left: 15px;
  vertical-align: bottom;
}

.question {
  &-container{
    height: 700px;
    padding: 50px;
    background: $image-back-pink;
  }

  &-list {
    width: 80%;
    padding: 40px 5px;
    margin: 0 auto;
    &-q {
      @include border-bottom(2px);
      padding: 40px 30px 20px;
      cursor: pointer;
    }
    &-a {
      padding: 20px 30px;
      display: none;
    }
  }
}

.open {
  display: block;
  animation: .5s fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.contactform {
  &-container {
    height: 800px;
    padding: 40px;
  }
  &-flex {
    width: 80%;
    margin: 0 auto; 
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-contents {
      @include border-bottom(2px);
      width: 47%;
      height: 100px;
      padding-top: 70px;
      margin: 5px;
    }
  }
  &-column {
    width: 80%;
    padding: 5px;
    margin: 30px auto 0;
  }
}

.submit-btn {
  @include border(1px);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 10px 60px;
  margin: 20px auto;
  display: block;
  color: white;
  background: #333;
  font-size: $font-size-m;
  cursor: pointer;
  transition: all .5s;
  &:hover {
    color: #333;
    background: white;
    transition: all .5s;
  }
}

.footer {
  @include position(relative, 0, 0);
}


@media(max-width:599px) {
  main {
    @include position(relative, -31px, 0);
    font-size: $font-size-s;
  }
  h1 {
    @include head-style($font-size-l);
  }
  label {
    width: 20%;
  }
  input {
    width: 60%;
  }
  ::placeholder {
    font-size: $font-size-s;
  }
  .question {
    &-container{
      height: 400px;
      padding: 30px;
    }
    &-list {
      width: 100%;
      padding: 20px 5px;
      &-q {
        padding: 30px 20px 10px;
      }
    }
  }
  .contactform {
    &-container {
      padding: 50px 20px;
    }
    &-flex {
      width: 100%;
      &-contents {
        height: 80px;
        padding-top: 50px;
      }
    }
    &-column {
      width: 100%;
    }
  }
}