@import "variable.scss";
@import "base.scss";
@import "utility.scss";
@import "header.scss";
@import "footer.scss";
@import "observer.scss";
@import "mixin.scss";


main {
  width: 100%;
  height: 4100px;
  position: absolute;
  top: 840px;
}

h1 {
  margin: 50px 0 30px;
  font-size: $font-size-xxl;
  text-align: center;
}

h2 {
  margin-bottom: 60px;
  font-size: $font-size-xl;
  font-weight: normal;
}

h3 {
  border-bottom: 1px solid #333;
  margin-bottom: 0;
  display: inline-block;
  font-size: $font-size-l;
  font-weight: normal;
}

.detail {
  background: $translucent-white;
}

.brackets {
  font-size: $font-size-s;
}

.price {
  font-size: $font-size-l;
}

.lunch {
  &-item {
    height: 570px;
    margin-bottom: 100px;
    display: flex;
  }
  &-image {
    width: 60%;
    height: 570px;
    background-position: center;
    background-size: cover;
  }
  &-detail {
    width: 40%;
    padding: 80px 60px;
  }
  &-contents {
    margin-bottom: 100px;
    font-size: $font-size-m;
  }
}

.sweets {
  &-item {
    width: 50%;
    height: 850px;
    display: flex;
    position: relative;
  }
  &-image {
    width: 100%;
    height: 850px;
    background-position: center;
    background-size: cover;
  }
  &-detail {
    width: 100%;
    height: 240px;
    padding: 60px;
    @include position(absolute, 610px, 0);
  }
  .price {
    margin-right: 30px;
    text-align: right;
  }
}

.drink {
  &-list {
    width: 80%;
    padding: 30px;
    margin: 0 auto;
    background: $translucent-white;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
  }
  &-item {
    width: 45%;
    margin: 40px 0;
    display: flex;
  }
  &-name {
    width: 50%;
    font-size: $font-size-m;
  }
  &-dots {
    width: 30%;
    padding-top: 5px;
    margin: 0 auto;
    text-align: right;
  }
  &-price {
    width: 20%;
    margin-left: auto;
    font-size: $font-size-m;
    text-align: right;
  }
}

.set-service {
  width: 80%;
  margin: 30px auto;
  &-explain {
    margin-top: 20px;
    margin-left: 30px;
    list-style: disc;
    font-size: $font-size-m;
  }
}


@media(max-width:1024px) {
  main {
    @include position(absolute, 800px, 0);
  }
  .sweets {
    &-detail {
      padding: 40px;
      h2 {
        margin-bottom: 30px;
      }
    }
  }
  .drink {
    &-list {
      width: 90%;
    }
  }
}

@media(max-width:599px) {
  main {
    @include position(absolute, 490px, 0);
    height: 5000px;
  }
  h1 {
    margin: 30px 0 20px;
    font-size: $font-size-xl;
  }
  h2 {
    margin-bottom: 30px;
    font-size: $font-size-l;
  }
  h3 {
    font-size: $font-size-m;
  }
  .lunch {
    &-item {
      height: 800px;
      margin-bottom: 50px;
      flex-direction: column;
    }
    &-image {
      width: 100%;
      height: 400px;
    }
    &-detail {
      width: 100%;
      padding: 60px 40px;
    }
    &-contents {
      margin-bottom: 50px;
      font-size: $font-size-m;
    }
  }
  .sweets {
    &-container {
      .d-flex {
        display: block;
      }
    }
    &-item {
      width: 100%;
      height: 600px;
    }
    &-image {
      height: 600px;
    }
    &-detail {
      height: 240px;
      @include position(absolute, 360px, 0);
    }
  }
  .drink {
    &-list {
      width: 100%;
      padding: 20px 30px;
      flex-direction: column;
    }
    &-item {
      width: 100%;
      margin: 20px 0;
    }
    &-name {
      font-size: $font-size-base;
    }
    &-price {
      font-size: $font-size-base;
    }
  }
  .set-service {
    width: 100%;
    margin-top: 0;
    padding: 20px 30px;
    &-explain {
      font-size: $font-size-base;
    }
  }
  .footer {
    @include position(relative, 4900px, 0);
  }
}



