main {
  width: 100%;
  height: 76%;

  section {
    width: 100%;
    height: 40%;

    .front-image {
      width: 73%;
      height: 16%;
      background-image: url();
    }

    .back-image {
      width: 85%;
      height: 20%;
      background-image: url();
    }

    .link {
      width: 46%;
      height: 5%;
      background: rgba(255,255,255,0.7);
    }
  }

  .parallax {
    width: 100%;
    height: 10%;
    background-image: url();
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
  }

  .access {
    width: 100%;
    height: 20%;
    
    .access-flex {
      width: 100%;
      height: 90%;
      display: flex;
      justify-content: center;
    }  
  }

  


}